<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289479140720-8rieteahg1m31p7hpar562p1pgpf8tns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289479140720-8rieteahg1m31p7hpar562p1pgpf8tns</string>
	<key>API_KEY</key>
	<string>AIzaSyD_cQBe-NtiQuJybUyzn3FcQZ_HWiOUjD4</string>
	<key>GCM_SENDER_ID</key>
	<string>289479140720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anhkiet.classroom.classRoomChin</string>
	<key>PROJECT_ID</key>
	<string>class-room-8dddb</string>
	<key>STORAGE_BUCKET</key>
	<string>class-room-8dddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289479140720:ios:9bd3aac3e82fe14c725bb5</string>
</dict>
</plist>